$grid-columns: 12 !default;

$micro: 'x' !default;
$small: 's' !default;
$medium: 'm' !default;
$large: 'l' !default;

$grid-breakpoints: (
       '':      1px,
       $micro:  300px,
       $small:  600px,
       $medium: 800px,
       $large:  1000px
) !default;

$media: ()      !default;
$media-only: () !default;
$grid-gutter:   1rem !default;
$row-max-width: 100% !default;

$flex-class-name: '.col'  !default;
$row-class-name:  '.flex' !default;

#{$row-class-name} {
    box-sizing:      border-box;
    width:           100%;
    max-width:       $row-max-width;
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    align-content:   stretch;
    align-items:     stretch;
    margin:          0 auto;

    img {
        max-width: 100%;
    }

    &.stretch {
        align-items: stretch;
    }

    &.center {
        justify-content: center;
    }

    &.valign {
        align-items: center;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.flex-start {
        justify-content: flex-start;
    }

    &.fit {
        > #{$flex-class-name} {
            flex-grow:   1;
            flex-shrink: 1;
        }
    }

    &.flex-center {
        align-items:     center;
        justify-content: center;
    }

    &.no-margin {
        margin: 0;
    }
}

$selector: '';
@each $name, $size in $grid-breakpoints {

    @for $i from 1 through $grid-columns {
        @if ($name == '') {
            $selector: #{$row-class-name}-#{$i};
        } @else {
            $selector: #{$row-class-name}-#{$name}-#{$i}
        }

        #{$selector} {
            @extend #{$row-class-name};

            @media only all and (min-width: $size) {
                > #{$flex-class-name} {
                    flex-basis: percentage($i/$grid-columns);
                }
            }
        }
    }
}

#{$flex-class-name} {
    box-sizing: border-box;
    padding:    $grid-gutter;
    min-height: 100%;
    overflow: hidden;
}

@each $name, $size in $grid-breakpoints {

    @for $i from 1 through $grid-columns {

        @if ($name != '') {
            .#{$name}-#{$i} {
                box-sizing: border-box;
                padding:    $grid-gutter;
                min-height: 100%;

                @media (min-width: $size) {
                    flex-basis: percentage($i/$grid-columns);
                }
            }
        }

        @media (min-width: $size) {
            @if ($name == '') {
                $selector: #{$i};
            } @else {
                $selector: #{$name}-#{$i}
            }

            .left-#{$selector} {
                margin-left: percentage(($i/$grid-columns));
            }

            .right-#{$selector} {
                margin-right: percentage(($i/$grid-columns));
            }
        }
    }
}

$lastValue: '';
$lastName: '';

@each $name, $size in $grid-breakpoints {

    @if ($name == '') {
        $selector: '';
    } @else {
        $selector: -#{$name};
    }

    .show#{$selector} {
        @media (max-width: ($size)) {
            display: none !important;
        }
    }

    .hide#{$selector} {
        @media (min-width: ($size+1px)) {
            display: none !important;
        }
    }

    @for $z from 1 through 12 {

        @if ($name == '') {
            $selector: '.order-#{$z};'
        } @else {
            $selector: ".order-#{$name}-#{$z}"
        }

        #{$selector} {
            @if ($name != '') {
                @media only all and (min-width: $size) {
                    order: #{$z};
                }
            } @else {
                order: #{$z};
            }
        }
    }

    $new: ($name: 'only screen and (min-width: #{$size})');
    $media: map_merge($media, $new);

    @if ($lastValue != '') {
        $new-only: ($lastName: 'only screen and (min-width: #{$lastValue}) and (max-width: #{$size})');
        $media-only: map_merge($media-only, $new-only);
    }

    $lastValue: $size + 1;
    $lastName: $name;
}

@mixin media($name) {
    @media #{map-get($media, $name)} {
        @content
    }
}
